<div id="wrapper wrapper.toggled">

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a (click)="changePage(pageType.Informations)">
          Profil fournisseur
        </a>
      </li>
      
      <li>
        <a (click)="changePage(pageType.Documents)">Mes documents</a>
      </li>
      
      <li>
        <a (click)="changePage(pageType.Password)">Mon mot de passe</a>
      </li>
      <li>
        <a (click)="changePage(pageType.Contact)">Mes contacts</a>
      </li>
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper" [ngSwitch]="pageActivated.type">
    <app-provider-informations *ngSwitchCase="pageType.Informations"></app-provider-informations>
    <app-provider-password *ngSwitchCase="pageType.Password"></app-provider-password>
    <app-provider-documents *ngSwitchCase="pageType.Documents"></app-provider-documents>
    <app-profile-provider-contact *ngSwitchCase="pageType.Contact"></app-profile-provider-contact>
  </div>
</div>

