<div class="container-fluid">
    <div toastContainer></div>
    <div class="ps" style="position: relative; width: 100%; max-height: 500px;" [perfectScrollbar]="config">
        <div class="container-fluid">
            <mat-toolbar class="col-sm-10">
                <legend *ngIf="!segment.id" class="text-center"><strong>Formulaire d'ajout d'un segement</strong>
                </legend>
                <legend *ngIf="segment.id" class="text-center"><strong>Formulaire de modification d'un segment</strong>
                </legend>
                <button class="close btn-dialog-close" (click)="onClose()" tabIndex="-1"><i
                        class="material-icons">close</i></button>
            </mat-toolbar>
        </div>
        <div class="container-fluid">
            <form class="well form-horizontal" (ngSubmit)="onSubmit(formGroup)" [formGroup]="formGroup">
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">Segment</legend>

                    <div class="form-group row">
                        <label class="control-label col-sm-2">Nom *</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <div class="input-group-prepend"> <span class="input-group-text">
                                        <i class="fa fa-star"></i>
                                    </span> </div>
                                <input formControlName="nom" placeholder="Nom " class="form-control"
                                    type="text">
                            </div>
                            <div *ngIf="formGroup.controls['nom'].errors && formGroup.controls['nom'].touched"
                                class="alert alert-danger m-t-10">
                                <div [hidden]="!formGroup.controls['nom'].errors.required">Le nom est requis
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-sm-2">Code APE</label>
                        <div class="col-sm-10">
                            <div class="input-group divMM">
                                <div class="input-group-prepend"> <span class="input-group-text">
                                        <i class="fa fa-th-list"></i>
                                    </span> </div>
                                <!-- <select class="form-control" formControlName="codeAPE">
                    <option *ngFor="let code of listCodeApe" value="{{code.codeApe}}">{{code.codeApe}} - {{code.libelleApe}}</option>
                  </select> -->
                                <ng-select [virtualScroll]="true" [items]="listape | async" [multiple]="false"
                                    [closeOnSelect]="true" bindLabel="libelleApe" bindValue="codeApe"
                                    placeholder="Selectionnez un code APE" formControlName="ape">
                                    <ng-template ng-label-tmp let-item="item">
                                        {{item.libelleApe}}
                                    </ng-template>
                                </ng-select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="control-label col-sm-2">Code CPV</label>
                        <div class="col-sm-10">
                            <div class="input-group divMM">
                                <div class="input-group-prepend"> <span class="input-group-text">
                                        <i class="fa fa-th-list"></i>
                                    </span> </div>
                                <ng-select [virtualScroll]="true" [items]="listcpv | async" [multiple]="false"
                                    [closeOnSelect]="false" bindLabel="libelleCpv" bindValue="codeCpv"
                                    placeholder="Selectionnez des codes CPV" formControlName="cpv">
                                    <ng-template ng-label-tmp let-item="item">
                                        {{item.libelleCpv}} <button mat-icon-button (click)="onDelete(item)" class="delete_icon"><mat-icon>delete_outline</mat-icon></button>
                                    </ng-template>
                                </ng-select>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="text-center form-group row">
                    <div class="col-sm-12">
                        <button *ngIf="!segment.id" type="submit" class="btn btn-primary" [disabled]="!formGroup.valid">
                            Valider<span class="fa fa-send"></span>
                        </button>
                        <button *ngIf="segment.id" type="submit" class="btn btn-primary" [disabled]="!formGroup.valid">
                            Modifier<span class="fa fa-send"></span>
                        </button>
                        <button type="reset" class="btn btn-danger">
                            Annuler
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div *ngIf="loading" class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>