.center {
  text-align: center;
}

.p-3 {
  padding: 3px;
}

.p-b-12 {
  padding-bottom: 12px;
}

.width-33-pc {
  width: 33%;
}

.m-t-25 {
  margin-top: 25px;
}

.m-t-5 {
  margin-top: 5px;
}

.container-fluid .row {
  margin-left: 0px;
  margin-right: 0px;
}
