<div class="center">
  <div class="search-div">
    <div toastContainer></div>
    <button mat-raised-button  (click)="onCreate()">
      <mat-icon>add</mat-icon>Ajouter
    </button>
    <!--<button mat-raised-button >
        <mat-icon>archive</mat-icon>Exporter
    </button>-->
    <mat-form-field class="search-form-field" floatLabel="never">
      <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
      <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="" (click)="onSearchClear()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div class="mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource" class="entities-table" matSort matSortActive="id" matSortDirection="asc">

    <ng-container matColumnDef="nom">
      <mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true">Nom</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.libelle}}</mat-cell>
    </ng-container>


    <ng-container matColumnDef="cpv">
      <mat-header-cell *matHeaderCellDef mat-sort-header>CPV</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.codeCPV}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="ape">
      <mat-header-cell *matHeaderCellDef mat-sort-header>APE</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.codeAPE}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef>Editer</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="onEdit(row)"><mat-icon>edit</mat-icon></button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef>Supprimer</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="onDelete(row)" class="delete_icon"><mat-icon>delete_outline</mat-icon></button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="fournisseur">
      <mat-header-cell *matHeaderCellDef>Fournisseurs</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="onEditFour(row)" ><mat-icon>group</mat-icon></button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns" (click)="selectRow(row)"></mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[10, 20, 50]">
  </mat-paginator>
  <div *ngIf="loading" class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
  </div>
