<div class="container-fluid">
    <div class="ps" style="position: relative; width: 100%; max-height: 500px;" [perfectScrollbar]="config">
    <div class="container-fluid">
  
      <!--<mat-dialog-content>-->
  
      <mat-toolbar class="col-sm-10">
        <!--<span class="fill-remaining-space">Ajout d'une entité</span>-->
        <legend><strong>A propos</strong></legend>
        <button class="close btn-dialog-close" (click)="onClose()" tabIndex="-1"><i class="material-icons">close</i></button>
      </mat-toolbar>
    </div>

    <div class="container-fluid">
      <p class="text">
        <br/>
        SIGMA, <b>S</b>ystème <b>I</b>nformatique de <b>G</b>estion et de <b>M</b>anagement de l’<b>A</b>chat est un site Internet
        crée en 2016 à l’initiative de la Ville de Rouen en partenariat avec l’Université de Rouen et 
        plus spécifiquement le Master «Informatique, Gestion de l'Information et des Systèmes» -
        Parcours «Génie de l'informatique Logicielle».<br/>
        <br/>
        <b>Il s’inscrit dans un processus engagé par les territoires d’optimisation de leurs achats.</b><br/>
        <br/>
        Il répond à deux objectifs: <br/>
      </p>

      <ul>
        <li> permettre aux entreprises de se faire connaître auprès des acheteurs publics </li>
        <li> mettre à disposition des acheteurs, approvisionneurs publics une base de connaissances sur les achats</li>
      </ul>
      
      <h3>Qui peut s’inscrire sur la mosaïque SIGMA&nbsp;? </h3>
      <p class="text">
        L’inscription est ouverte à tous les fournisseurs. 
        Lors de votre première connexion il vous sera proposé de vous inscrire sur la plateforme
        SIGMA. Pour cela vous aurez à cliquer sur le lien s’inscrire situé ---------. Votre inscription
        terminée un e-mail de confirmation vous sera adressé pour vérifier l’adresse email que
        vous aurez indiquée. Il vous faudra alors cliquer sur le lien présent dans l’e-mail pour valider votre inscription.
      </p>

      <h3>Quels sont les territoires, partenaires et utilisateurs de la solution&nbsp;?</h3>
      <p class="text"> 
        Le site est ouvert uniquement aux professionnels, collectivités, organismes publics ou
        entreprises. Il n’y est donc pas référencé des fournisseurs pouvant proposer des articles,
        prestations et services à destination des particuliers. <br/>
        <br/>
        Pour toute autre question concernant le fonctionnement de l’eAchat SIGMA n’hésitez pas à consulter notre Foire Aux Questions.
      </p>
    </div>
  </div>
</div>
    
